.header {
    .distribu-nav {
        background-color: #14e2d5 !important;
    }

    ul li .nav-link {
        color: #fff !important;
        font-size: 18px;
    }

    .distribu-login-btn {
        color: #fff !important;
        border-color: #fff !important;
        width: 84px;
        font-size: 18px;
    }
}