.header {
    margin-bottom: -11px;

    .distribu-nav {
        background-color: #14e2d5 !important;
    }

    ul li .nav-link {
        color: #fff !important;
        font-size: 18px;
        margin-right: 20px;
    }

    ul li .nav-link:hover {
        color: #e2e2e2 !important;
    }

    .distribu-login-btn {
        color: #fff !important;
        border-color: #fff !important;
        width: 120px;
        font-size: 18px;
    }

    .distribu-login-btn:hover {
        color: #e2e2e2 !important;
        border-color: #e2e2e2 !important;
        background-color: unset !important;
    }

    .dropdown-toggle {
        font-size: 25px;
        background-color: transparent !important;
        border: none;

        &:hover,
        &:active,
        &:focus {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;    
        }        
    }

    .dropdown-menu-right {
        right: 0;
        left: auto;
    }    
}