$primary-color: #14e2d5;
$secondary-color: #ffec00;
$text-color: #4c8783;

@import "partials/base";
@import "partials/make-my-pledge";

@import "lib/nprogress";
@import "lib/parsley";
@import "lib/resizeable";