$primary-color: #14e2d5;
$secondary-color: #ffec00;
$text-color: #4c8783;

@import "partials/base";
@import "partials/modal";
@import "partials/make-my-pledge";

@import "lib/nprogress";
@import "lib/parsley";
@import "lib/resizeable";

@import "screens/campaign";
@import "screens/campaigns";
@import "screens/home";
@import "screens/my-subscriptions";
@import "screens/reports";
@import "screens/newcampaign";

@import "header";
@import "footer";