ux-dialog {
    background-color: #14e2d5 !important;
    width: 731px !important;

    .dialog-close {
        display: none !important;
    }

    ux-dialog-header {
        padding: 0px !important;
        margin: 0px !important;
        margin-left: 70px !important;
        margin-right: 70px !important;
        border-bottom: none !important;

        &:not(.no-border) {
            .container-fluid {
                border-bottom: solid 1px white !important;
            }
        }

        .wizard-steps {
            text-align: center;
            margin-top: 50px;

            img:first-child {
                margin-right: 25px;
            }

            img:last-child {
                margin-left: 25px;
            }            
        }

        h5 {
            font-family: 'Roboto Slab', serif;
            font-size: 35px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }

        .col-sm-12 {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    ux-dialog-body {
        padding: 0px !important;
        margin: 0px !important;
        margin-left: 70px !important;
        margin-right: 70px !important;

        .payment-schedule {
            cursor: pointer;
            height: 100px;
            border-bottom: solid 1px white;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 32px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;     
            line-height: 100px;     

            img {
                float: left;
                margin-right: 45px;
                margin-top: 25px;
            }
        }

        img.share {
            height: 60px;
            margin: 0 auto;
            display: block;
            margin-bottom: 30px;
            cursor: pointer;
        }

        form-check.share {
            margin-bottom: 30px;
        }

        button {
            font-family: 'IBM Plex Sans', sans-serif;
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 284px;
            height: 70px;
            border: solid 1px #ffffff;
            background-color: #ffec00;
            border-radius: 3px;
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #4c8783;

            &:disabled {
                opacity: 0.5;
            }
        }

        .form-check {
            font-family: 'Roboto Slab', serif;
            text-align: center;
            color: white;
            font-size: 18px;
        }
    }
}

ux-dialog-overlay.active {
    z-index: 10 !important;
    background-color: black !important;
    opacity: 0.8 !important;
}

ux-dialog-container.active {
    z-index: 10 !important;
}