.campaigns {

    .container {
        text-align: center;
    }

    .nav-tabs {
        border-bottom: none;
    }

    .heading-text {
        margin-top: 100px;
        margin-bottom: 50px;

        .header-button {
            width: 220px;
            margin: 20px;
            font-size: 24px;
            border-radius: 30px;
        }
    }

    .campaign-box {
        background-color: #14e2d5;
        height: 256px;
        float: left;
        width: 100%;
        margin-bottom: 30px;
        position: relative;

        .campaign-box-text {
            padding: 30px;
            width: calc(100% - 265px);
            float: left;
        }

        .campaign-box-image {
            height: 260px;
            float: right;
        }

        a {
            margin-top: 20px;
            border: solid 1px #ffffff;
            background-color: $secondary-color;
            color: $text-color;
            font-size: 18px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: bold;
            border-radius: 3px;    
            position: absolute;
            bottom: 30px;
        }

        .council-name {
            font-family: 'Roboto Slab', serif;
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #fff;
            margin-top: 24px;
            position: absolute;
            bottom: 80px;    
        }
    }

    h2 {
        font-size: 54px;
        color: $text-color;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;    
        text-align: center;  
    }

    h3 {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;      
    }

    p {
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #4c8783;
        margin-top: 24px;    
    }

    .postcode-search {
        text-align: center;
        margin-top: -30px;
        margin-bottom: 40px;

        input {
            width: 200px;
            height: 50px;
            font-size: 18px;
            height: 70px;
            width: 272px;
            border: solid 1px #4c8783;
            border-radius: 3px;
            text-align: center;
            font-family: 'IBM Plex Sans', sans-serif;
            color: #9b9b9b;
            font-size: 24px;
        }
    }

    .no-local-campaigns {
        p {
            font-family: 'Roboto Slab', serif;
            font-weight: bold !important;
            font-size: 28px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #4c8783;
            margin-top: 40px;
            text-align: center;
        }
    }
}